<div class="login-box">
  <div class="login-logo">
    <img src="dist/img/orissa-emunicipality.png" class="user-image" alt="User Image" style="width:100%">
  </div>
  <div class="">
      <div class="login-box-body">
        <p class="login-box-msg">Enter your mail id for get OTP</p>
        <form name="forgot">
          <div class="form-group has-feedback">
            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="password.email" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button ng-click="applyOTP()" class="btn btn-primary btn-block btn-flat">
                Submit
              </button>
            </div>
          </div>
        </form>
        <a ui-sref="login">login</a><br>
      </div>
  </div>
</div>
