<section class="content-header" >
  <h1 class="">
    Retired Employee List
    <small>control panel</small>
  </h1>
</section>
<section class="content" ng-init="loadRetiredEmployee()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="col-md-3">
            <h3 class="box-title ">Employee List</h3>
          </div>
          <div class="col-md-3" ng-show="roll_id == '1'">
            <select class="form-control" ng-model="emp_district" name="emp_district" ng-change="emp_ulb='All';getdistrictulb(emp_district)" ng-init="emp_district = 'All';loaddistrict()">
              <option value="All">Search By District</option>
              <option value="{{district.id}}" ng-repeat="district in district" >{{district.name}}</option>
            </select>
          </div>
          <div class="col-md-3" ng-show="roll_id == '1'">
            <select class="form-control" ng-model="emp_ulb" name="emp_district" ng-init="emp_ulb = 'All'">
              <option value="All" ng-selected="true">Search By ULB</option>
              <option value="{{ulb.id}}" ng-repeat="ulb in ulblist" >{{ulb.name}}</option>
            </select>
          </div>
          <div class="col-md-3" ng-show="roll_id == '1'">
            <input type="text" class="form-control" name="application_no" ng-model="search.application_no" placeholder="Application No">
          </div>
        </div>
        <div class="box-body over-x-sc">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Sl No</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Village/Town</th>
                <th>City</th>
                <th>Po</th>
                <th>PS</th>
                <th>District</th>
                <th>Pin</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>DOB</th>
                <th>DOJ</th>
                <th>DOR</th>
                <th>ULB</th>
                <th>Status</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="retired_emp in employee_list" ng-hide="(emp_district != 'All' && emp_district != retired_emp.district_id) || (emp_ulb != 'All' && emp_ulb != retired_emp.ulb_id) || (search.application_no && search.application_no.toString() != retired_emp.pension_id.toString())">
                <td>{{$index+1}}</td>
                <td>{{retired_emp.name}}</td>
                <td>{{retired_emp.designation}}</td>
                <td>{{retired_emp.village}}</td>
                <td>{{retired_emp.city}}</td>
                <td>{{retired_emp.post}}</td>
                <td>{{retired_emp.police_station}}</td>
                <td>{{retired_emp.district}}</td>
                <td>{{retired_emp.pin}}</td>
                <td>{{retired_emp.mobile}}</td>
                <td>{{retired_emp.email}}</td>
                <td>{{retired_emp.dob}}</td>
                <td>{{retired_emp.doj}}</td>
                <td>{{retired_emp.dor}}</td>
                <td>{{retired_emp.ulb}}</td>
                <td>{{retired_emp.emp_status}}</td>
                <td >
                  <a href="" ng-if="roll_id == '3'"  ng-click="loadEmpdocument(retired_emp.id)"><span class="label label-primary">Employee Documents</span></a>
                  <a href="" ng-if="roll_id == '1' &&  retired_emp.pending_at == 'ULB'"  ng-click="loadReciveDocs(retired_emp.pension_id)"><span class="label label-primary">Recive Documents</span></a>
                  <a href="" ng-if="roll_id == '1' &&  retired_emp.pending_at != 'ULB'" ui-sref="reciveDocuments({pension_id:retired_emp.pension_id})"><span class="label label-primary">Edit Documents</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
