<section class="content-header">
  <h1>
     Retired Employee Documents
  </h1>
</section>
<section class="content" ng-init="loadEmpProfile()">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="" data-toggle="tab" ng-click="changeTab('empprofile')">Employee Profile</a></li>
          <li><a href="" data-toggle="tab" ng-click="changeTab('documents')">Employee Documents</a></li>
          <li><a href="" data-toggle="tab" ng-click="changeTab('pension')">Employee Pension</a></li>
        </ul>
        <div class="tab-content m-t-20">
          <div class="tab-pane" ng-class="{'active':currentTab == 'empprofile'}" >
            <div class="post">
              <div class="user-block">
                <div class="row">
                  <div class="col-sm-6">
                    <table class="table table-bordered box box-primary" >
                     <tr>
                        <td><strong>Employee Name</strong></td>
                        <td>{{retired_employee.name}}</td>
                     </tr>
                     <tr>
                      <td><strong>Desingnation</strong></td>
                      <td>{{retired_employee.designation}}</td>
                     </tr>
                     <tr>
                        <td><strong>Address</strong></td>
                        <td>{{retired_employee.village}}, {{retired_employee.post}}, {{retired_employee.police_station}}, {{retired_employee.city}}, {{retired_employee.district}}, {{retired_employee.pin}}</td>
                     </tr>
                      <tr>
                        <td><strong>Mobile</strong></td>
                        <td>{{retired_employee.mobile}}</td>
                      </tr>
                      <tr>
                        <td><strong>Email</strong></td>
                        <td>{{retired_employee.email}}</td>
                      </tr>
                      <tr>
                        <td><strong>DOB</strong></td>
                        <td>{{retired_employee.dob}}</td>
                      </tr>
                      <tr>
                        <td><strong>DOJ</strong></td>
                        <td>{{retired_employee.doj}}</td>
                      </tr>
                      <tr>
                        <td><strong>DOR</strong></td>
                        <td>{{retired_employee.dor}}</td>
                      </tr>
                      <tr>
                        <td><strong>ULB</strong></td>
                        <td>{{retired_employee.ulb}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" ng-class="{'active':currentTab == 'documents'}">
            <div class="row">
              <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">documents list</h3>
                  </div>
                  <div class="box-body over-x-sc">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Documents</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="doc in receivedDocument">
                          <td>{{$index+1}}</td>
                          <td>{{doc}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" ng-class="{'active':currentTab == 'pension'}">
            <form class="form-horizontal" name="employeepension">
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Pension Type</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.pension_type" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Category</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.pension_category" readonly>
                </div>
              </div>
              <div class="form-group" ng-if="retired_employee.pension_type != 'Pension'">
                <label for="inputPassword3" class="col-sm-3 control-label">Nominee</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.nominee" readonly>
                </div>
              </div>
              <div class="form-group" ng-if="retired_employee.pension_type != 'Pension'">
                <label for="inputPassword3" class="col-sm-3 control-label">Relation with Employee</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.relation" readonly>
                </div>
              </div>
              <div class="form-group" ng-if="retired_employee.dod">
                <label for="inputPassword3" class="col-sm-3 control-label">Date of Death/In service Death</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.dod" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Department Ref.No</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.department_ref_no" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Department Ref Date</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.department_ref_date" readonly>
                </div>
              </div>
              <div class="form-group" >
                <label for="inputPassword3" class="col-sm-3 control-label">Section Ref.No</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.section_ref_no" readonly>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': (employeepension.section_date.$invalid && employeepension.section_date.$touched)}">
                <label for="inputPassword3" class="col-sm-3 control-label">Section Ref Date</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.section_ref_date" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">File No</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="retired_employee.file_no" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Remarks</label>
                <div class="col-sm-8">
                  <textarea  class="form-control" rows="4" ng-model="retired_employee.remarks" name="centraloffc_remarks" readonly></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
